.App {
  text-align: center;
}

/* Navbar Page */
.navbar-nav {
  float: right;
}

/* Landing Page */

.entire-landing {
  background-color: white;
}

/*landing image*/
.landing-image {
  outline: 0;
  text-align: center;
  max-width: 100%;
  height: auto;
  opacity: 0.35;
  position: relative;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 3rem;
  color: #28a745;
}

.hero-description {
  font-size: 2rem;
  color: #28a745;
  font-style: italic;
}

/* Sign Up Form */
.sign-up-form {
  max-width: 50%;
}

/* Sign In Form */
.sign-in-form {
  max-width: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

/* Dashboard  */
.event-list {
  display: block;
}

/* Event Display */
.charges-table {
  width: 50%;
  float: left;
}
